.mono/
Atom/
BetterDiscord/
BraveSoftware/
Debauchee/
Electron/
GIMP/
Google/
KeePass/
Keepass/
Ledger Live/
MyCrypto/
VeraCrypt/
Yubico/
aurvote
balena-etcher/
chromium/
cmus/
configstore/
dconf/
discord/
dleyna-renderer-service.conf
enchant/
eog/
filezilla/
freerdp/
gcolor3/
glogg/
goa-1.0/
gqrx/
gtk-2.0/
gtk-3.0/
gtk-4.0/
hexchat/
libreoffice/
mimeapps.list
mopidy/
nautilus/
pavucontrol.ini
pulse-sms/
pulse/
retroarch/
spotify/
totem/
transmission/
user-dirs.dirs
user-dirs.locale
vlc/
volumeicon/
yay/
