Atom/
aurvote
balena-etcher/
BetterDiscord/
BraveSoftware/
chromium/
cmus/
configstore/
discord/
dleyna-renderer-service.conf
Electron/
enchant/
eog/
filezilla/
freerdp/
gcolor3/
GIMP/
glogg/
goa-1.0/
Google/
gqrx/
gtk-2.0/
gtk-3.0/
gtk-4.0/
hexchat/
Ledger Live/
libreoffice/
mopidy/
MyCrypto/
neofetch/
pavucontrol.ini
pulse/
pulse-sms/
retroarch/
spotify/
totem/
transmission/
user-dirs.dirs
user-dirs.locale
VeraCrypt/
vlc/
volumeicon/
yay/
Yubico/
